.header {
  padding: 2rem 1rem;

  text-align: center;

  &__title {
    margin: 0;

    font-size: 2rem;

    @media screen and (min-width: 560px) {
      font-size: 3rem;
    }

    @media screen and (min-width: 900px) {
      font-size: 4rem;
    }
  }
}