.stack {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  .item {
    width: 80%;
    max-width: 30rem;

    cursor: grab;

    &__image {
      display: block;
      width: 100%;

      pointer-events: none;
    }
  }
}