.stack {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  &__item {
    user-select: none;

    cursor: grab;
  }

  .item {
    &__image {
      pointer-events: none;
    }
  }
}